<html>
	<head>
		<script src ="/javascripts/touchScreenToolkit.js" defer ></script>
	</head>

<body>
<div id="content">
<table>
<%= form_tag :action => "select_option" %>
<tr>
	<td><%= select_tag:options, options_for_select([["Upload Music","Upload Music"],["View Music","View Music"],["Manage Music","Manage Music"]]),:helptext => "What do you want to do?" %></td>
</tr>
	<td><%= submit_tag"Submit"%></td>
</tr>
</form_tag>
</table>
</body>
</html>
